<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>mongoDb 查询数据</title>
</head>
<body>

 <h2>数据展示</h2>
 

    <a href='/db/add'>新增</a>
	 <table border='1'>
	 	<tr><th>ID</th><th>名称</th><th>UTC时间</th><th>数据</th><th>操作</th></tr>
	  	{{each data trValue trI}}
	   <tr>
	       {{each trValue tdValue tdI}}
		   	 <td> {{tdValue}}</td>
           {{/each}}
           <td><a href='/db/remove?id={{@trValue._id}}'>删除</a><a href='/db/update?id={{@trValue._id}}'>修改</a></td>
	   </tr>
	   {{/each}}
	 </table>

</body>
</html>